<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eat_schedule.mapper.CommonMapper">


    <select id="findArea" resultType="java.lang.String">
        select area from area
    </select>
    <select id="findCategory" resultType="java.lang.String">
        select category from category
    </select>
</mapper>