<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eat_schedule.mapper.CouponMapper">


    <select id="findCoupon" resultType="eat_schedule.dto.Coupon">
        select store_seq, discount_rate from coupon where user_id=#{user_id} and store_seq=#{seq}
    </select>
</mapper>