<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eat_schedule.mapper.MenuMapper">


    <select id="findMenu" resultType="eat_schedule.dto.Menu">
        select * from menu
        where store_seq=#{seq}
    </select>
    <select id="findMenuType" resultType="java.lang.String">
        select distinct category from menu
        where store_seq=#{seq}
    </select>
</mapper>